div{
    font: 14px/20px "΢���ź�",Arial,sans-serif;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-style: normal;
}

.footer{
    width:100vw;
    float:left;
    background:#242424;
    padding-top:50px;
}
.footer .f-text{
    width: 1200px;
    margin: 0 auto;
    display: table;
}
.footer .f-text dt {
    float: left;
    background: url(../img/ri_ewm.png) no-repeat left 0;
    padding-left: 185px;
    height: 100px;}
.footer .f-text dt h1 {
    color: rgba(255,255,255,.6);
    font-size: 100%;
    font-weight: normal;
}
.footer .f-text dt h2 {
    font-size: 30px;
    line-height: 30px;
    font-family: fontsz;
    color: #fff;
    margin-bottom: 10px;
    font-weight: normal;
}
.footer .f-text dt p {
    color: rgba(255,255,255,.5);
}
.footer .f-text dd {
    width: 460px;
    float: right;
}
.footer .f-text dd h1 {
    font-size: 22px;
    color: #9D1818;
    margin-bottom: 15px;
}
.footer .f-text dd p {
    width: 100%;
    float: left;
    color: rgba(255,255,255,.6);
    line-height: 28px;
    font-size: 12px;
}
.footer .f-text dd b {
    width: 100px;
    display: inline-block;
    background: url(../img/map.png) no-repeat left 5px;
    background-size: 17px;
    text-indent: 23px;
}
.footer .f-text dd p:nth-child(3) b {
    background-position: 0 -16px;
}
.footer .f-text dd p:nth-child(4) b {
    background-position: 0 -41px;
}
.footer .f-foot {
    width: 100%;
    float: left;
    background: #000;
    padding: 10px 0;
    margin-top: 50px;
}
.footer .f-foot dl {
    width: 1200px;
    margin: 0 auto;
    display: table;
}
.footer .f-foot dt {
    float: left;
    color: rgba(255,255,255,.6);
    font-size: 12px;
}
.footer .f-foot dd {
    float: right;
}
.footer .f-foot dd p{
    float: left;
}
.footer .f-foot dd p a {
    font-size: 12px;
    color: rgba(255,255,255,.6);
    float: left;
    margin-right: 25px;
    position:relative;
}
.footer .f-foot dd p a:link{
    text-decoration: none;
}