body{
    margin: 0;
    padding: 0;
}
.first>a>img{
    margin:10px;
}
.bg{
    width: 100%;
    background-color: #efefef;
}
.floor{
    padding-left:10%;
    padding-right:10%;
}
.floor>a>img{
    margin:5px;
}
.second span{
    /*float:left;*/
    color: #FFF;
    line-height: 35px;
    padding:5px 15px;
    font-size:30px;
    text-align:center;
    list-style:none;
}
.second span:nth-child(1){
    width: 290px;
    background: #646464;
    margin-right:-10px;
}
.second span:nth-child(2){
    width: 155px;
    background: #d5bf8d;
}
.bh{
    height: 92vh;
}
.video-play{
    max-width: 1450px;
    height: 660px;
    background: grey;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}