/* body */
body{
    margin: 0;
    padding: 0;
}

/*大图和小图间过渡层样式 */
.bg{
    width: 100vw;
    background-color: #efefef;
}
/* 大图和小图内边距 */
.floor{width:80vw;
       margin:0 auto;
       box-sizing: border-box;
       padding: 0 2vw;
}
.floor>div{
    display:flex;
    justify-content: space-between;
}
.first>a>img{
    margin:2vh 0vw;
    width:37vw;
}
.floor>div>div>a>img{
    width:18.5vw;
}
/* 小图和视频之间的文字 */
.second span{
    color: #FFF;
    line-height: 35px;
    padding:5px 15px;
    font-size:30px;
    text-align:center;
    list-style:none;
}
.second span:nth-child(1){
    width: 290px;
    background: #646464;
    margin-right:-10px;
}
.second span:nth-child(2){
    width: 155px;
    background: #d5bf8d;
}
/* 三楼视频 */
#video-player{
    height: 123vh;
    padding:0;
}
.video_top{
      width:100%;
      background:url("../img/video.jpg")  
}
.big_video{
    width:72%;
    height: 61%;
    margin: 0 auto;

}
#video-player video{
    width:100%;
    height:100%;
    object-fit: fill;
}
.three_v{
    width:100%;
    height:39%;
    box-sizing: border-box;
}
.three_v>div{width:34%;
}
.v_ph{
    position: absolute;
    z-index: 99;
}
.v_ph1{
    width: 59.3vw;
    height:72vh;
}
.v_ph2{
    width: 26.8vw;
    height: 47vh;
}
.v_ph>img{
    width:100%;
    height:100%
}
/* 视频和承诺之间的过度 */
.our{width:100%;}
.our>div:first-child{
    width:100%;
    height:11vh;
    background:#efefef;}
.our>div:last-child{
    width:100%;
    height:2vh;
    background:#fff;
}
/* 用户承诺 */
.promise{
    width: 73%;
    height: 86vh;
    margin: 0 auto;
    /* border: 2px solid red; */
    box-sizing: border-box;
    padding: 2vh 2vw;
}
.promise>div{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}
.promise>div>div{
    width: 32vw;
    height: 24vh;
    border: 2px solid #e4dada;
    margin: 1vh 1vw;
    display:flex;
    justify-content: center;
}
.promise>div>div>div{
    float: left;
}
.p_ph{
    width:30%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p_word{
    margin-top:2vh;
    color:#a58f7d
}
.promise img{
    width: 5vw;
    height: 10vh;
}
.promise span{
    display:block
}
.sculpt>.p_word,.home>.p_word{
   margin-top:6vh;
}
/* 地图 */
#map{
    background:black;
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
}
#map>img{    
    width: 90vw;
    height: 82vh;
    margin-right: 11vw;
}
#city{
    width:100vw;
    height:93vh;
    position: absolute;
}
#map>div>div{
    position: absolute;
    color:#fff;
}
#city>div>div  img{display:none}
#city>div>div:hover img{
    display:block;
    position: absolute;
    z-index: 999;
}
.london{    
    left: 12%;
    top: 18%; 
}
.Paris{ 
    top: 21%;
    left: 15%;
}
.Venice{
    top: 25%;
    left: 17%;
 }
.Prague{
    top: 27%;
    left: 19%;
 }
.Rome{
    top: 21%;
    left: 20%;
 }
.Santorini{
    top: 29%;
    left: 22%;
 }
.Maldives{
    bottom: 45%;
    right: 55%;
 }
.HKT{ 
    bottom: 48%;
    right: 45%;
}
.KUL{
    bottom: 44%;
    right: 42%;
 }
.Bail{ 
    bottom: 36%;
    right: 36%;
}
.snow{ 
    bottom: 19%;
    right: 22%;
}
.kili{
    bottom: 13%;
    left: 85%;
 }
.Dali{ 
    top: 40%;
    right: 44%;
}
.LJG{
    top: 38%;
    right: 43%;
 }
.Sanya{
    bottom: 55%;
    right: 40%;
 }
.HK{ 
    top: 40%;
    right: 37%;
}
.TaiWan{ 
    top: 38%;
    right: 35%;
}
.ShangHai{ 
    top: 33%;
    right: 35%;
}
.Qing{ 
    top: 29%;
    right: 35%;
}
.Mei{
    top: 32%;
    right: 32%;
 }
.Chong{ 
    top: 36%;
    right: 32%;
}
.Bei{
    top: 24%;
    right: 26%;
 }